
/* ———————section 1 Banner——————— */
#banner {
    min-height: 640px;
    width: 100%;
    background-color: #F9F9F9;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 20px 150px;
}

#banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px;
    width: 500px;
}

#banner-title {
    font-family: 'Shrikhand';
    font-size: 3.3em;
}

#banner-text {
    margin: 8px 0;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

    margin: 60px 0;
}

.cv-btn {
    background: #E9BAAA;
    width: 176px;
    height: 56px;
    font-size: 1em;
    line-height: 57px;
    padding: 0;
    border: none;
}

.cv-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.cv-btn:before,
.cv-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #E9BAAA;
    transition: all 0.3s ease;
}

.cv-btn:before {
    height: 0%;
    width: 2px;
}

.cv-btn:after {
    width: 0%;
    height: 2px;
}

.cv-btn:hover {
    background: transparent;
    box-shadow: none;
}

.cv-btn:hover:before {
    height: 100%;
}

.cv-btn:hover:after {
    width: 100%;
}

.cv-btn span:hover {
    color: #E9BAAA;
}

.cv-btn span:before,
.cv-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #E9BAAA;
    transition: all 0.3s ease;
}

.cv-btn span:before {
    width: 2px;
    height: 0%;
}

.cv-btn span:after {
    width: 0%;
    height: 2px;
}

.cv-btn span:hover:before {
    height: 100%;
}

.cv-btn span:hover:after {
    width: 100%;
}

#banner-link{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

#banner-link p {

}

#social-btn-container {
    padding: 0 30px;
}

#social-btn-container img {
    height: 50px;
    margin-right: 8px;
}

#banner-selfpic{
    display: flex; 
    align-items: center;
    justify-content: center;
}

#banner-selfpic img{
    width: 400px;
}

/* ———————section 2 What i can do——————— */
#section-tech {
    background-color: #EECA80;
}

#section-tech-h {
    padding-bottom: 60px;
}

.section-title-center {
    font-size: 3.3em;
    font-family: 'Shrikhand';
    text-align: center;
    padding-top: 50px;
}

.my-tech-container {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Shrikhand';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-tech-card {
    width: 240px;
    margin-top: 50px;
}

.my-tech-container img {
    height: 100px;
}

.my-tech-container p {
    margin-top: 8px;
}

/* ———————section 3 About me——————— */

#section-about {
    min-height: 640px;
    width: 100%;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 150px;
}

#about-selfpic{
    display: flex; 
    align-items: center;
    justify-content: center;
}

#about-selfpic img {
    width: 400px;

}

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px;
    width: 500px;

}

#about-title {
    font-size: 3.3em;
    font-family: 'Shrikhand';
}

#about-text {
    padding-bottom: 50px;
    margin: 0 16px;
}


/* ———————section 4 info——————— */
#section-info {
    background-color: #EECA80;
}

#section-info-h {
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
}


#info-card-area {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-container {
    width: 342px;
    padding: 40px 0 0 0;

}

.info-title {
    font-size: 3.3em;
    font-family: 'Shrikhand';
    text-align: center;
}

#info-title-interest {
    /* padding-top: 70px; */
}


.info-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-card {
    width: 80px;
    margin: 15px;
}

.info-card img {
    width: 80px;
}

.info-card p {
    font-size: 0.8em;
    text-align: center;
    margin-top: 8px;
}

#info-text-area {
    width: 320px;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-title-text {
    font-size: 3.3em;
    font-family: 'Shrikhand';


}

.info-text-container {
    /* padding-top: 8px; */
}

.info-text-container aside {
    padding-left: 60px;
    padding-top: 10px;
}

.bold-text {
    font-weight: bold;
}



/* ———————section 5 Portfolio——————— */



#portfolio-frame {
    position: relative;
    margin: 30px auto;
    width: auto;
    max-width: 800px;
    height: auto;
    max-height: 505px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#portfolio-frame :hover{
    cursor: pointer;
}

#portfolio-frame img {
    object-fit: cover;
    transition: 0.3s;
    position: relative;
    height: 516px;
}

#portfolio-frame:hover img {
    transform: scale(1.1);
}

.text-area {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.3s;
    color: #090808;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.text-area p {
    margin: 0;
    font-size: 2em;
}

.text-area:hover {
    opacity: 0;
}

#contact-btn {
    /* position: absolute;
    right: 50px;
    bottom: -50px; */
    /* margin-left: auto; */
    height: 150px;
    cursor: pointer;
    /* width: 150px; */
}






/* -----@media !must in bottom!----- */
@media (max-width:900px) {
    

}

