@charset "UTF-8";

body {
    font-family: 'Roboto', PingFang, "Noto Sans CJK TC", "Microsoft JhengHei", sans-serif, serif;
    font-size: 16px;
    color: #090808;
    background-color: #F9F9F9;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*!!!remove mobile click highlight*/
}

html {
    height: 200vh;
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    /*!!!disable mobile double-tap zoom on any element*/
}

.laptop-width {
    max-width: 1366px;
    margin: 0 auto;
}

/* ---------------nav----------------- */
#top-menu {
    z-index: 999;
    position: sticky;
    top: 0;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
}

#logo {
    height: 40px;
    margin-left: 50px;
    padding-top: 10px;
    opacity: 0.7;
}

#logo:hover {
    opacity: 1;
    cursor: pointer;
}

#menu-container {
    float: right;
    margin: 20px 40px;
}

.menu-option {
    color: #090808;
    font-size: 1.2em;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px 30px;
    /* margin-top: 6px; */
}

.menu-option:hover {
    opacity: 1;
    cursor: pointer;
}

#menu-current {
    opacity: 1;
}

#hamburger-img {
    display: none;
    height: 40px;
    float: right;
    padding-top: 10px;
    padding-right: 16px;
    margin: 0;
}

#menu-verticle {
    display: none;
    position: fixed;
    z-index: 998;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 25vh;
    min-height: 300px;
}

#v-option-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.v-option {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    padding-bottom: 2em;

}

/* ———————section 1 Banner——————— */
#banner {
    height: 640px;
    background-color: #F9F9F9;
    position: relative;

}

#banner-title {
    font-family: 'Shrikhand';
    font-size: 3.3em;
    position: absolute;
    top: 100px;
    left: 10%;
}

#banner-text {
    position: absolute;
    top: 250px;
    left: 10%;

}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.cv-btn {
    background: #E9BAAA;
    width: 176px;
    height: 56px;
    font-size: 1em;
    line-height: 57px;
    padding: 0;
    border: none;
    top: 300px;
    left: 10%;
}


.cv-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.cv-btn:before,
.cv-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #E9BAAA;
    transition: all 0.3s ease;
}

.cv-btn:before {
    height: 0%;
    width: 2px;
}

.cv-btn:after {
    width: 0%;
    height: 2px;
}

.cv-btn:hover {
    background: transparent;
    box-shadow: none;
}

.cv-btn:hover:before {
    height: 100%;
}

.cv-btn:hover:after {
    width: 100%;
}

.cv-btn span:hover {
    color: #E9BAAA;
}

.cv-btn span:before,
.cv-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #E9BAAA;
    transition: all 0.3s ease;
}

.cv-btn span:before {
    width: 2px;
    height: 0%;
}

.cv-btn span:after {
    width: 0%;
    height: 2px;
}

.cv-btn span:hover:before {
    height: 100%;
}

.cv-btn span:hover:after {
    width: 100%;
}

#banner-link p {
    position: absolute;
    top: 400px;
    left: 14%;
}

#social-btn-container {
    height: 60px;
    position: absolute;
    top: 420px;
    left: 20%;
}

#social-btn-container img {
    height: 50px;
    margin-top: 8px;
    margin-right: 8px;
}

#banner-selfpic {
    width: 35%;
    max-width: 500px;
    min-width: 400px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

/* ———————section 2 What i can do——————— */
#section-tech {
    background-color: #EECA80;
}

#section-tech-h {
    padding: 20px 0 60px 0;
}

.section-title-center {
    font-size: 3.3em;
    font-family: 'Shrikhand';
    text-align: center;
    padding-top: 30px;
}

.my-tech-container {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Shrikhand';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-tech-card {
    width: 240px;
    margin-top: 50px;
}

.my-tech-container img {
    height: 100px;
}

.my-tech-container p {
    margin-top: 8px;
}

/* ———————section 3 About me——————— */

#section-about {
    position: relative;
    height: 620px;
}

#about-selfpic img {
    width: 25%;
    max-width: 400px;
    min-width: 300px;
    position: absolute;
    top: 100px;
    left: 10%;
}

#about-content {
    width: 35%;
    max-width: 500px;
    min-width: 400px;
    position: absolute;
    top: 150px;
    right: 15%;
}

#about-title {
    font-size: 3.3em;
    font-family: 'Shrikhand';
}

#about-text {}


/* ———————section 4 info——————— */
#section-info {
    background-color: #EECA80;
}

#section-info-h {
    padding: 30px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 300px;
}
    

#info-card-area {
    width: 320px;
}

.info-container {
    width: 342px;

}

.info-title {
    font-size: 3.3em;
    font-family: 'Shrikhand';
    text-align: center;
    padding-top: 50px;
}

#info-title-interest{
    padding-top: 70px;
}


.info-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-card {
    width: 80px;
    margin: 15px;
}

.info-card img {
    width: 80px;
}

.info-card p {
    font-size: 0.8em;
    text-align: center;
    margin-top: 8px;
}

#info-text-area {
    width: 320px;
}

.info-title-text{
    font-size: 3.3em;
    font-family: 'Shrikhand';
    padding-top: 50px;
}
.info-text-container{
    padding-top: 8px;
}
.info-text-container aside{
    padding-left: 60px;
}
.bold-text{
    font-weight: bold;
}








    /*-------------footer----------------*/
    footer {
        background-color: red;
    }

    /* -----@media !must in bottom!----- */
    @media(min-width:899px) {
        #menu-verticle {
            visibility: hidden;
        }
    }

    @media (max-width:900px) {
        #hamburger-img {
            display: block;
        }

        #menu-container {
            display: none;
        }

    }