/* ---------------banner----------------- */

#banner {
    /* min-height: 640px;
    width: 100%; */
    background-color: #F9F9F9;
}

#banner-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 640px;

}

#banner-title-container p {
    font-family: 'Shrikhand';
    font-size: 8em;
}

/* ---------------section1 Contents----------------- */
#section-content {
    background-color: #EECA80;
}

#section-content-h {
    padding-bottom: 60px;
}

.section-title-center {
    font-size: 3.3em;
    font-family: 'Shrikhand';
    text-align: center;
    padding-top: 50px;
}

.my-content-container {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Shrikhand';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-content-card {
    width: 240px;
    margin-top: 50px;
}

.my-content-container img {
    height: 100px;
}

.my-content-container p {
    margin-top: 8px;
}

/* ---------------section2 uiux cover----------------- */

#section-uiux {
    /* height: 2346px; */
    height: auto;
}

.portfolio-title-center {
    font-size: 4em;
    font-family: 'Shrikhand';
    text-align: center;
    padding-top: 100px;
}

#uiux-cover {
    min-height: 600px;

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px 160px;
}

.uiux-content h1 {
    font-size: 4em;
    font-weight: bolder;
    color: #586400;
    margin-top: 32px;
}

.uiux-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #5D6145;
    margin-top: 16px;
}

.uiux-content h3 {
    margin-top: 16px;
}

.uiux-content p {
    font-size: 0.8em;
    margin-top: 32px;
}

.campow-logo {
    width: 112px;
}

.tool-logo {
    width: 40px;
    margin-top: 16px;
}

#uiux-img {
    width: 355px;
    height: 650px;
    padding-top: 50px;
}

#uiux-img img {
    height: 570px;
}

/* ---------------section2 uiux overview----------------- */
#uiux-overview {
    min-height: 600px;

    position: relative;
    margin: 0;
}

.overview-title {
    font-size: 3em;
    font-weight: bolder;
    color: #586400;


}

.overview-title-mobile {
    font-size: 3em;
    font-weight: bolder;
    color: #586400;
    display: none;
    text-align: center;
    padding: 50px 0;

}

#overview-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 100px;
}

#overview-card-left {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 50px 0;
    /* height: 500px; */
    padding: 0 25px;
}

#overview-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px 0;
    /* height: 600px; */
    padding: 0 25px;
}

.overview-card {
    width: 374px;
    background-color: #EBF1EB;
    border-radius: 5px;
    padding: 24px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.overview-card h1 {
    font-size: 1.5em;
    color: #3B665B;
    margin-bottom: 8px;
}

.highlighted-text {
    background-color: #BDECDE;
}

.tent {
    display: flex;
    justify-content: end;
}

.tent img {
    width: 200px;
}


/* ---------------section2 uiux design process----------------- */
#design-process-background {
    background-color: #91B5A9;
}

#design-process {
    /* height: 100vh; */
    /* padding-top: 20px; */
}

#design-process-title {
    font-size: 3em;
    font-weight: bolder;
    color: #F9F9F9;
    text-align: center;

    padding-top: 50px;

}

#design-process-container-desktop {
    display: flex;
    justify-content: center;
    padding: 108px 0;

}

.design-process-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 220px;
}

.design-process-icon {
    text-align: center;
}

.design-process-icon img {
    width: 88px;
}

.icon-detail {
    text-align: center;
}


.icon-detail h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #F9F9F9;

}

.icon-detail p {
    padding-top: 8px;
}

.arrow {
    width: 80px;
    text-align: center;
    padding: 60px 0;
}

.arrow img {
    width: 32px;
}


/* mobile */
#design-process-container-mobile {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding-top: 24px;

}

.process-big-card {
    background-color: #E2E5C2;
    width: 256px;
    border-radius: 14px;
    padding: 24px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    margin: 24px;

}

.big-card-title {
    display: flex;
    justify-content: center;

}

.big-card-title img {
    width: 48px;
    margin-right: 8px;
}

.big-card-title h1 {
    font-size: 2em;
    font-weight: bolder;
    color: #586400;
    margin: auto 0;

}

.process-big-card p {
    text-align: center;
    margin: 8px 0;

}

.v-teal {
    background-color: #BDECDE;
}

.arrow-down {
    width: 32px;
    rotate: 90deg;
}

.arrow-down img {
    width: 32px;
}

#uiux-phone-placement {
    width: 80%;
    margin: 0 auto;
}

#uiux-phone-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 0 10%;
}

.uiux-phone {
    width: 100px;
    display: flex;
    justify-content: center;
}

.uiux-phone img {
    width: 320px;
}

/* ---------------section3 Winning-cover----------------- */

#section-winning {}

#winning-cover {
    min-height: 600px;

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px 140px;
}

#winning-title {
    font-family: 'Shrikhand';
    font-size: 4em;
    text-align: center;
    margin: 108px 0;
}

.winning-content {
    margin: 80px 0;
}

.winning-content .metro-logo {
    height: 116px;
    padding: 0;
}

.winning-content h1 {
    font-size: 3em;
    font-weight: bolder;
    color: #1F8586;
    margin: 12px 0;
}

.winning-content h2 {
    font-size: 1.5em;
    font-weight: bolder;
    color: #1F8586;
    margin: 12px 0;
}

.winning-content hr {
    border: 1px solid #1F8586;
    width: 100%;
    margin: 12px 0;
}

#badge-text {
    display: flex;
    align-items: center;
}

.winning-content h3 {
    font-size: 2em;
    font-weight: bolder;
    color: #1F8586;
    margin: 12px 0;
}

.winning-content img {
    height: 39px;
    padding-left: 8px;
}

.winning-content h4 {
    font-size: 1em;
    font-weight: bolder;
    color: #1F8586;
    margin: 6px 0;

}

#winning-img img {
    height: 500px;
}

/* ---------------section3 Winning overview----------------- */
#winning-overview-background {
    background-color: #91B5A9;
}

#winning-overview {
    display: flex;
    flex-direction: column;
}

.winning-overview-title {
    font-size: 3em;
    font-weight: bolder;
    color: #F9F9F9;
    padding: 50px 0 0 80px;
}

#winning-overview-card-container {
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 0 130px; */
}

.winning-overview-card {
    margin: 40px 60px;
    height: 100%;
}

.metro-charater01 {
    width: 374px;
    text-align: right;
}

.metro-charater01 img {
    height: 220px;
}


/* ---------------section3 Winning end page----------------- */

#winning-end {
    display: flex;
    justify-content: center;
}

#winning-end img {
    width: 100%;
}

/* ---------------behance btn----------------- */
#be-btn-container {
    position: relative;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #090808;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

    margin: 60px 0;
}

.be-btn {
    background: #EECA80;
    width: 310px;
    height: 60px;
    font-size: 1.5em;
    line-height: 57px;
    padding: 0;
    border: none;
}

.be-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.be-btn:before,
.be-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #EECA80;
    transition: all 0.3s ease;
}

.be-btn:before {
    height: 0%;
    width: 2px;
}

.be-btn:after {
    width: 0%;
    height: 2px;
}

.be-btn:hover {
    background: transparent;
    box-shadow: none;
}

.be-btn:hover:before {
    height: 100%;
}

.be-btn:hover:after {
    width: 100%;
}

.be-btn span:hover {
    color: #EECA80;
}

.be-btn span:before,
.be-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #EECA80;
    transition: all 0.3s ease;
}

.be-btn span:before {
    width: 2px;
    height: 0%;
}

.be-btn span:after {
    width: 0%;
    height: 2px;
}

.be-btn span:hover:before {
    height: 100%;
}

.be-btn span:hover:after {
    width: 100%;
}

.uiux-btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ---------------section4 ae----------------- */
#ae-background {
    background: #EECA80;
}


#ae-section {
    min-height: 60vh;
    padding: 80px 0;
}

#ae-title {
    font-family: 'Shrikhand';
    font-size: 4em;
    text-align: center;
    padding: 28px 0 0 0;
}

#ae-section p {
    text-align: center;
    padding: 30px 0;
}

.video-wrapper {
    width: 100%;
    max-width: 800px;
    /* You can adjust the maximum width as needed */
    margin: 0 auto;
    /* Center the video container horizontally */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* This creates a 16:9 aspect ratio (height/width) for the video */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ---------------section5 ready to see project----------------- */

#section-ready {
    padding: 50px 0;
}

.ready-title {
    font-family: 'Shrikhand';
    font-size: 2.5em;
    padding: 0 0 50px 50px;
}

#project-card-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 24px 60px;
}


.project-card {
    position: relative;
    width: 320px;
    height: 548px;
    margin: 10px;
    border-radius: 12px;
    background-color: #F9F9F9;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
        position: relative;
}

.img-frame {
    width: auto;
    height: 240px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

#card-text-container {
    margin: 24px;
}

.card-type {
    font-size: 0.8em;
    color: #636363;
    margin-bottom: 16px;
}

.card-name {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 16px;
}

.card-info {
    font-size: 0.9em;
}


.project-card a {
    text-underline-offset: 1px;
}

.project-card a:active,
.project-card a:hover {
    outline: 0;
}

#card-btn-container{
    display: flex;
    justify-content: center;
    
}

.project-btn{
    background: #EECA80;
    text-decoration: none;
    color: #090808;
    padding: 20px 42px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-size: 1.25em;
    position: absolute;
    bottom: 24px;
    
}

.project-btn:hover {
    transition: all 0.3s ease;
    filter: hue-rotate(-60deg);
 
 }



.project-btn img{
    width: 24px;
    margin-left: 16px;


}











/* -----@media !must in bottom!----- */
@media (max-width:1080px) {
    #design-process-container-desktop {
        display: none;
    }

    #design-process-container-mobile {
        display: flex;
    }

}

@media(max-width:1058px) {
    .overview-title {
        display: none;
    }

    .overview-title-mobile {
        display: block;
    }
}

@media (max-width:850px) {

    #banner-title-container {
        min-height: 400px;

    }

    #banner-title-container p {
        font-size: 4em;
    }

    /* uiux */

    #uiux-phone-placement {
        width: 40%;
    }

    .uiux-phone img {
        width: 180px;
    }

    /* winning */
    .winning-content {
        font-size: .7em;
    }

    .winning-overview-title {
        text-align: center;
        padding: 50px 0 30px 0;
    }

    .winning-overview-card {
        margin: 20px 0;
    }

    #winning-end img {
        width: 800px;
    }
}