
/* ---------------section1 Contents----------------- */
#section-content {
    background-color: #EECA80;
}

#section-content-h {
    padding-bottom: 60px;
}

.section-title-center {
    font-size: 3.3em;
    font-family: 'Shrikhand';
    text-align: center;
    padding-top: 50px;
}

.my-content-container {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Shrikhand';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-content-card {
    width: 240px;
    margin-top: 50px;
}

.my-content-container img {
    height: 100px;
}

.my-content-container p {
    margin-top: 8px;
}

/* ---------------section2 uiux portfolio----------------- */

#section-uiux{
    height: 2346px;
}
.portfolio-title-center {
    font-size: 4em;
    font-family: 'Shrikhand';
    text-align: center;
    padding-top: 100px;
}

#uiux-cover{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.uiux-content h1{
    font-size: 4em;
    font-weight: bolder;
    color: #586400;
}
.uiux-content h2{
    font-size: 1.5em;
    font-weight: bold;
    color: #5D6145;
}

.uiux-content p{
    font-size: 0.8em;
}

.campow-logo{
    width: 112px;
}

.tool-logo{
    width: 40px;
}

#uiux-img{
    /* adjust image */
    /* background-color: pink; */
    width: 500px;
    position: relative;
    height: 650px;
}

#uiux-img img{
    /* float: right; */
    height: 656px;
    position: absolute;
    left: 50px;

}










/* -----@media !must in bottom!----- */
@media (max-width:900px) {
    

}